@model Leerplatform.Models.Les

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Les</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tijdstip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tijdstip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vak.VakId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokaal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokaal.LokaalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Planning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Planning.PlanningId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
