@model Leerplatform.Models.PlanningStudentVM

@{
    ViewData["Title"] = "Inplannen";
}

<h1>Student Toevoegen Aan Planning</h1>

<h4>@Model.Student.UserName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Planning">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="id" asp-for="@Model.Student.Id"/>
            <input type="hidden" name="username" asp-for="@this.User.Identity.Name"/>
            <label for="Planningen">Kies een planning</label>
            <select name="Planning" id="Planningen">
                @foreach (Planning planning in Model.Planningen)
                {
                    <option value="@planning.PlanningId">@planning.Naam</option>
                }
            </select>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
