@model Leerplatform.Models.Lokaal

@{
    ViewData["Title"] = "Verwijderen";
}

<h1>Verwijderen</h1>

<h3>Bent u zeker dat u dit lokaal wilt verwijderen?</h3>
<div>
    <h4>Lokaal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LokaalId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LokaalId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plaats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plaats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capaciteit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capaciteit)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LokaalId" />
        <input type="submit" value="Verwijderen" class="btn btn-danger" /> |
        <a asp-action="Index">Terug</a>
    </form>
</div>
