@model Leerplatform.Models.VakPlanningLokaalVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Toevoegen Aan Planning</h1>

<h4>@Model.Vak.Titel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Planning">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Vak.VakId" />
            <label for="Planningen">Kies een planning</label>
            <select name="Planning" id="Planningen">
                @foreach (Planning planning in Model.Planningen)
                {
                    <option value="@planning.PlanningId">@planning.Naam</option>
                }
            </select>
            <label for="Lokalen">Kies een Lokaal</label>
            <select name="Lokaal" id="Lokalen">
                @foreach (Lokaal lokaal in Model.Lokalen)
                {
                    <option value="@lokaal.LokaalId">@lokaal.Naam</option>
                }
            </select>
            <label for="Tijdstip">Tijdstip</label>
            <input type="datetime-local" name="Tijdstip" id="Tijdstip"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
